<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список мероприятий</title>
    <link rel="stylesheet" href="/static/events_style.css">
</head>
<body>

    <div class="container">
        <h1>Список созданных мероприятий</h1>

        <div class="event-list">

            {% for i in range(len) %}
                <div class="event-item">
                    <h2>{{dict["kindSport"][i]}}</h2>
                    <p><strong>Тип соревнования:</strong> {{dict["typeEvent"][i]}} </p>
                    <p><strong>Количество участников:</strong> {{dict["count_people"][i]}} </p>
                    <p><strong>Дата проведения:</strong> {{dict["date"][i]}}  </p>
                    <p><strong>Время проведения:</strong> {{dict["time"][i]}} </p>
                    <p><strong>Место проведения:</strong> {{dict["place"][i]}} </p>
                </div>

            {% endfor %}

        </div>

    </div>

</body>
</html>