<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400" />

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {}
                      tailwind.config.safelist = []
                      tailwind.config.content = []
    </script>

    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

    <meta name="x-apple-disable-message-reformatting" />

    <style></style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="display: inline-block; width: 1080px" data-ignore="used only for top most containter width">
      <div class="border box-border flex justify-start items-stretch flex-col min-w-[1080px] pt-[25px] pb-[4039px] rounded-[5px] border-dashed border-[#9747ff]">
        <div class="grow-0 shrink-0 basis-auto pl-[90px] pr-12">
          <!-- Select Component is detected here -->
          <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 min-w-[513px] h-[65px] w-[100.00%] grow-0 shrink-0 basis-auto pl-[19px] pr-5 rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
            <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
            <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
              <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <clipPath id="clip10_19_1359" xmlns="http://www.w3.org/2000/svg">
                    <rect width="18" height="18" fill="white" transform="matrix(0, -1, 1, 0, 0, 18.000000000000007)" />
                  </clipPath>
                  <clipPath id="clip11_19_1359" xmlns="http://www.w3.org/2000/svg">
                    <rect width="18" height="18" fill="white" transform="matrix(0, -1, 1, 0, 0, 18.000000000000007)" />
                  </clipPath>
                </defs>
                <g id="chevron-right-black.svg_6" data-node-id="I19:1418;4028:1947" clip-path="url(#clip10_19_1359)" xmlns="http://www.w3.org/2000/svg">
                  <g id="chevron-right-black.svg fill_6" data-node-id="I19:1418;4028:1948" clip-path="url(#clip11_19_1359)">
                    <g id="Component 1_6" data-node-id="I19:1418;4028:1949">
                      <path id="Vector_6" data-node-id="I19:1418;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M17.084,6.4356c0.499,-0.4767 0.499,-1.2734 0,-1.7501c-0.467,-0.4469 -1.204,-0.4469 -1.672,0l-6.34,6.0574l-6.34,-6.0574c-0.468,-0.4469 -1.205,-0.4469 -1.672,0c-0.499,0.4767 -0.499,1.2734 0,1.7501l8.012,7.6549z" fill="currentColor" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="grow-0 shrink-0 basis-auto mt-[279px] px-[55px]">
          <div class="w-[100.00%] box-border px-[209px]">
            <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 w-[100.00%] h-16 pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip12_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip13_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg_7" data-node-id="I19:1436;4028:1947" clip-path="url(#clip12_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill_7" data-node-id="I19:1436;4028:1948" clip-path="url(#clip13_19_1359)">
                      <g id="Component 1_7" data-node-id="I19:1436;4028:1949">
                        <path id="Vector_7" data-node-id="I19:1436;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.564c-0.499,0.477 -0.499,1.274 0,1.751c0.467,0.446 1.204,0.446 1.672,0l6.34,-6.058l6.34,6.058c0.468,0.446 1.205,0.446 1.672,0c0.499,-0.477 0.499,-1.274 0,-1.751l-8.012,-7.655z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border w-[100.00%] mt-[7px] pt-[19px] rounded-[20px] border-solid border-[#2ac09b]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] m-0 px-5 p-0">Автозаводский</p>
              <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%] mt-[18px]">
                <!-- Repeated elements detected. These are rendered using loops & conditions in the React tab -->
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Ленинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Канавинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Московский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Сормовский</p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-start items-stretch flex-col w-[100.00%] box-border mt-[213px]">
            <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 h-16 grow-0 shrink-0 basis-auto -mx-2 pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip0_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip1_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg" data-node-id="I19:1364;4028:1947" clip-path="url(#clip0_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill" data-node-id="I19:1364;4028:1948" clip-path="url(#clip1_19_1359)">
                      <g id="Component 1" data-node-id="I19:1364;4028:1949">
                        <path id="Vector" data-node-id="I19:1364;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.56c-0.499,0.48 -0.499,1.28 0,1.75c0.467,0.45 1.204,0.45 1.672,0l6.342,-6.05l6.34,6.05c0.47,0.45 1.2,0.45 1.67,0c0.5,-0.47 0.5,-1.27 0,-1.75l-8.01,-7.65z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border grow-0 shrink-0 basis-auto mt-[7px] -mx-2.5 rounded-[20px] border-solid border-[#2ac09b]">
              <div class="bg-[rgba(0,87,255,0.20)] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 px-[19px] rounded-[20px]">
                <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Автозаводский</p>
              </div>
              <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%]">
                <!-- Repeated elements detected. These are rendered using loops & conditions in the React tab -->
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Ленинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Канавинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Московский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Сормовский</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[100.00%] box-border mt-[169px]">
            <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 w-[100.00%] h-16 pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip2_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip3_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg_2" data-node-id="I19:1382;4028:1947" clip-path="url(#clip2_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill_2" data-node-id="I19:1382;4028:1948" clip-path="url(#clip3_19_1359)">
                      <g id="Component 1_2" data-node-id="I19:1382;4028:1949">
                        <path id="Vector_2" data-node-id="I19:1382;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.56c-0.499,0.48 -0.499,1.28 0,1.75c0.467,0.45 1.204,0.45 1.672,0l6.34,-6.05l6.34,6.05c0.468,0.45 1.205,0.45 1.672,0c0.499,-0.47 0.499,-1.27 0,-1.75l-8.012,-7.65z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border w-[100.00%] mt-[7px] pt-[19px] rounded-[20px] border-solid border-[#2ac09b]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] m-0 px-5 p-0">Автозаводский</p>
              <div class="w-[100.00%] box-border mt-[18px]">
                <div class="bg-[rgba(0,87,254,0.20)] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Ленинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%]">
                  <!-- Repeated elements detected. These are rendered using loops & conditions in the React tab -->
                  <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                    <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Канавинский</p>
                  </div>
                  <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                    <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Московский</p>
                  </div>
                  <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                    <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] whitespace-pre-wrap grow-0 shrink-0 basis-auto m-0 p-0">Сормовский</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-start items-stretch flex-col w-[100.00%] box-border mt-[152px]">
            <div class="border bg-[#fefefe] box-border ml-[-9px] mr-[-9px] flex justify-between items-center flex-row gap-2 h-16 grow-0 shrink-0 basis-auto pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip4_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip5_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg_3" data-node-id="I19:1400;4028:1947" clip-path="url(#clip4_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill_3" data-node-id="I19:1400;4028:1948" clip-path="url(#clip5_19_1359)">
                      <g id="Component 1_3" data-node-id="I19:1400;4028:1949">
                        <path id="Vector_3" data-node-id="I19:1400;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.56c-0.499,0.48 -0.499,1.28 0,1.75c0.467,0.45 1.204,0.45 1.672,0l6.342,-6.05l6.34,6.05c0.47,0.45 1.2,0.45 1.67,0c0.5,-0.47 0.5,-1.27 0,-1.75l-8.01,-7.65z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border ml-[-11px] mr-[-11px] grow-0 shrink-0 basis-auto mt-[7px] pt-[19px] rounded-[20px] border-solid border-[#2ac09b]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] m-0 px-5 p-0">Автозаводский</p>
              <div class="w-[100.00%] box-border mt-[18px]">
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Ленинский</p>
                </div>
                <div class="bg-[rgba(0,87,254,0.20)] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Канавинский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%]">
                  <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                    <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Московский</p>
                  </div>
                  <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col h-16 grow-0 shrink-0 basis-auto px-[19px] rounded-[20px]">
                    <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Сормовский</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[100.00%] box-border mt-[85px]">
            <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 w-[100.00%] h-16 pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip6_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip7_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg_4" data-node-id="I19:1621;4028:1947" clip-path="url(#clip6_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill_4" data-node-id="I19:1621;4028:1948" clip-path="url(#clip7_19_1359)">
                      <g id="Component 1_4" data-node-id="I19:1621;4028:1949">
                        <path id="Vector_4" data-node-id="I19:1621;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.56c-0.499,0.48 -0.499,1.28 0,1.75c0.467,0.45 1.204,0.45 1.672,0l6.34,-6.05l6.34,6.05c0.468,0.45 1.205,0.45 1.672,0c0.499,-0.47 0.499,-1.27 0,-1.75l-8.012,-7.65z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border w-[100.00%] mt-[7px] pt-[19px] rounded-[20px] border-solid border-[#2ac09b]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] m-0 px-5 p-0">Автозаводский</p>
              <div class="w-[100.00%] box-border mt-[18px]">
                <div class="w-[100.00%] box-border">
                  <!-- Input Component is detected here -->
                  <input placeholder="Ленинский" type="text" class="bg-[#fefefe] h-16 w-[100.00%] [font-family:Roboto,sans-serif] text-xl font-normal box-border pl-[19px] rounded-[20px] border-[none] text-[black]" />
                </div>
                <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] mt-[12.5px] m-0 px-5 p-0">Канавинский</p>
                <div class="bg-[rgba(0,87,254,0.20)] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 mt-[12.5px] px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Московский</p>
                </div>
                <div class="bg-[#fefefe] box-border flex justify-center items-stretch flex-col w-[100.00%] h-16 px-[19px] rounded-[20px]">
                  <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] grow-0 shrink-0 basis-auto m-0 p-0">Сормовский</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[100.00%] box-border mt-32 pl-[447px] pr-2">
            <div class="border bg-[#fefefe] box-border flex justify-between items-center flex-row gap-2 w-[100.00%] h-16 pl-[19px] pr-[22px] rounded-2xl border-solid border-[rgba(0,0,0,0.50)]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[rgba(196,196,196,0.60)] grow-0 shrink-0 basis-auto m-0 p-0">Выберите район</p>
              <div class="w-[18px] h-[18px] text-[#131313] flex grow-0 shrink-0 basis-auto">
                <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <clipPath id="clip8_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                    <clipPath id="clip9_19_1359" xmlns="http://www.w3.org/2000/svg">
                      <rect width="18" height="18" fill="white" transform="matrix(0, 1, -1, 0, 18, 0)" />
                    </clipPath>
                  </defs>
                  <g id="chevron-right-black.svg_5" data-node-id="I19:1734;4028:1947" clip-path="url(#clip8_19_1359)" xmlns="http://www.w3.org/2000/svg">
                    <g id="chevron-right-black.svg fill_5" data-node-id="I19:1734;4028:1948" clip-path="url(#clip9_19_1359)">
                      <g id="Component 1_5" data-node-id="I19:1734;4028:1949">
                        <path id="Vector_5" data-node-id="I19:1734;4028:1949;1:3" fill-rule="evenodd" clip-rule="evenodd" d="M0.916,11.56c-0.499,0.48 -0.499,1.28 0,1.75c0.467,0.45 1.204,0.45 1.672,0l6.34,-6.05l6.34,6.05c0.468,0.45 1.205,0.45 1.672,0c0.499,-0.47 0.499,-1.27 0,-1.75l-8.012,-7.65z" fill="currentColor" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div class="border bg-[white] box-border w-[100.00%] mt-[7px] pt-[19px] rounded-[20px] border-solid border-[#2ac09b]">
              <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] m-0 px-5 p-0">Автозаводский</p>
              <div class="w-[100.00%] box-border mt-[18px]">
                <div class="w-[100.00%] box-border">
                  <!-- Input Component is detected here -->
                  <input placeholder="Ленинский" type="text" class="bg-[#fefefe] h-16 w-[100.00%] [font-family:Roboto,sans-serif] text-xl font-normal box-border pl-[19px] rounded-[20px] border-[none] text-[black]" />
                </div>
                <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] mt-[12.5px] m-0 px-5 p-0">Канавинский</p>
                <p class="[font-family:Roboto,sans-serif] text-xl font-normal text-[black] mt-[25px] m-0 px-5 p-0">Московский</p>
                <div class="w-[100.00%] box-border mt-[12.5px]">
                  <!-- Input Component is detected here -->
                  <input placeholder="Сормовский" type="text" class="bg-[rgba(0,87,254,0.20)] h-16 w-[100.00%] [font-family:Roboto,sans-serif] text-xl font-normal box-border pl-[19px] rounded-[20px] border-[none] text-[black]" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
